<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <h4 class="display-8">Edit Employee</h4>
        </div>
        <form>
            <div class="form-group row">
                <label for="inputfname" class="col-sm-2 col-form-label">Name</label>
                <div>
                    <input class="form-control" type="text" ng-model="editUser.Name" name="name" placeholder="Your Name.." />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputSalary" class="col-sm-2 col-form-label">Salary</label>
                <div>
                    <input type="text" class="form-control" ng-model="editUser.Salary" name="salary" placeholder="Your Salary.." />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="selectDepartment">Department</label>
                <div>
                    <select class="custom-select  form-control" ng-model="editUser.Department" name="department">
                        <option value="IT">IT</option>
                        <option value="Icres">Icres</option>
                        <option value="Account">Account</option>
                        <option value="Support">Support</option>
                        <option value="Network">Network</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div>
                    <button class="btn btn-primary" ng-click="updateUser()">Update</button>
                    <a href="/">  <button class="btn btn-secondary">Back</button></a>
                </div>
            </div>
        </form>

    </div>
</div>
